.allconect{
    position: relative;
    background-color: #ffffff;
}
.logo{
     background-image: url(bd_logo1.png);
     width:600px;
     height:400px;
     position: relative;
     top:150px;
     left:650px;
     background-repeat: no-repeat;
}
.input{
    position: relative;
    left:650px;
    width:50px;
}